<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>

  <body>
    <h1>
      Currently Under Maintenance
    </h1>

    <p>
      The Site is Currently being updated
    </p>
  </body>
</html>
